body {
}
.footerLinks {
    color:#ffffff;
    text-decoration:none !important;
}
.footerLinks:hover{
    color:#ffd800;

}
#footer1{
    background:#762b00;
}
#footer2{
    background:#531f00;
}
/*.img-fluid{
    max-height:100px;
    max-width:auto;
}*/